.App {
  text-align: center;
}
.nav-style{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(226, 126, 126);
  color: white
}
.link-style{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  color:white
}
a {
  text-decoration: none;
  color:white
}
a:hover {
  color:black
}